<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Extension Deployment</title>
</head>
<body>
      <h1>New Deployment</h1>
   Version:   <span th:text="${buildVersion}">Build Version</span>  <br/>
    Name:  <span th:text="${buildName}">Build Name</span>          <br/>
    Time:  <span th:text="${buildTime}">Build Time</span>     <br/>
</body>
</html>